.button {
    background: var(--color-primary-main);
    display: block;
    padding: 16px 40px;
    color: #fff;
    outline: none;
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--color-primary-main);
    cursor: pointer;
    transition: all .4s;
    font-size: 24px;
    font-weight: 500;
    border-radius: 5px;
}

.fullWidth {
    max-width: 100%;
    min-width: 100%;
}

.small {
    font-size: 20px;
}

@media screen and (min-width: 767px) {
    .button {
        max-width: max-content;
    }
}

.button:hover, .button:active {
    background: var(--color-primary-dark);
    color: #fff;
}

.outlined {
    background: #fff;
    color: var(--color-primary-main);
}

.rounded {
    border-radius: var(--rounded-border-radius);
}

.secondary {
    background: var(--color-grey-dark);
    border: 1px solid var(--color-grey-dark);
}