.header {
    justify-content: space-between;
}
.noTitle {
    justify-content: flex-end;
}
@media screen and (max-width: 767px) {
    .header {
        align-items: flex-start;
    }
}
.link {
    color: #000;
    font-size: 14px;
    white-space: nowrap;
}