.loader {
    display: inline-block;
}
.loader:after {
    content: " ";
    display: block;
    min-width: 24px;
    min-height: 24px;
    margin: 0 12px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}