:root {
    --color-primary-main: #78d4ec;
    --color-primary-dark: #2d95b3;
    --color-error-main: #f44336;
    --text-color-primary: #696973;
    --color-grey-main: #E5E5E5;
    --color-grey-dark: #696973;
    --color-grey-light: #F0F2F6;
    --rounded-border-radius: 30px;
}
::-webkit-scrollbar {
    width: 0.5em !important;
    scroll-behavior: smooth !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey !important;
    border-radius: 10px !important;
}
html, body {
    font-family: 'Raleway', sans-serif;
    color: var(--text-color-primary);
}

html * {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 28px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: normal;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.textCenter{
    text-align: center;
}
.mb-1 {
    margin-bottom: 16px;
}
.mb-2 {
    margin-bottom: 20px;
}
.mb-3 {
    margin-bottom: 40px;
}